*{
    font-family: Noto Serif;
}



.override{
    background: linear-gradient(to right, orange, white);
}
.bouton{
    border-radius: 20px;


}
.bouton:hover{
    color: rgba(0, 0, 0, 0.3);

}

.scrollable
{
    background-color: orangered;
}

.social-sidebar .menu .accordion-group .accordion-heading .accordion-toggle {
   
    color: beige;
}
.table-bordered{

        border-radius: 20px;
        box-shadow: 1px 1px 5px grey;
}