*{
    font-family: Noto Serif;
}



.override{
    background: linear-gradient(to bottom right, orange, white);
    background-repeat: no-repeat;
}
.bouton{
    border-radius: 20px;


}
.bouton:hover{
    color: rgba(0, 0, 0, 0.3);

}